<div class="article">
    <form>
        <fieldset>
            <div>
                <label>Email:</label>
                <input type="text" id="email-address"/>
            </div>
            <div>
                <label>Name:</label>
                <input type="text" id="name"/>
            </div>
            <div>
                <label>Message:</label>
                <textarea id="message"></textarea>
            </div>
            <div class="action-box">
                <button type="submit" value="send">Send</button>
            </div>
        </fieldset>
    </form>
</div>