<div>
    <div>
        <label>Email:</label>
        <span><%= nabuageGlobal.cleanseHTMLOutput(contactMessage.emailAddress) %></span>
    </div>
    <div>
        <label>Name:</label>
        <span><%= nabuageGlobal.cleanseHTMLOutput(contactMessage.name) %></span>
    </div>
    <div>
        <label>Message:</label>
        <div><%= nabuageGlobal.cleanseHTMLOutput(contactMessage.message) %></div>
    </div>
    <!--<div class="action-box">
        <button type="submit" id="confirm" value="confirm">Confirm</button>
        <button type="submit" value="cancel">Go Back and Edit</button>
    </div>-->
</div>